// Add your custom CSS here.
#cart .row .col-md-7.col-lg-8 {
    display: flex;
    flex-direction: column
}
  
#cart .row .recommended-items {
    order: 1
}

.shipping-line[data-service-code="PICKUP"] small {
    color: #fff !important;
    -webkit-line-clamp: 4 !important;
  }
  
  .shipping-line[data-service-code="PICKUP"] span.mr-2 {
    display: none
  }
  .shipping-line[data-service-code="PICKUP"] strong.mr-2 {
    font-weight: normal !important;
    color: transparent !important;
  }
  
  .shipping-line[data-service-code="PICKUP"] +small {
    font-weight: bold;
    font-size: 18px;
  }

  .cart__list + .recommended-items .recommended-items__title .lead {
    font-size: 0
  }
  
  .cart__list + .recommended-items .recommended-items__title .lead:after {
    font-size: 20px !important;
    content: "Que tal aproveitar o frete?"
  }


  #account-form-type-j, #account-form-type-j + label {
    display: none !important;
  } 
